@model IEnumerable<BookAndLearn.Common.Entities.Lesson>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoomId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LecturerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LessonTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectDayId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LessonScheduleId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoomId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LecturerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LessonTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectDayId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LessonScheduleId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
